.skeleton-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.card {
  width: 400px;
  height: 350px;
  margin: 15px;
  border-radius: 25px;
  padding: 25px;
  border: 1px solid #474d572d;
}
.card-content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 12px;
}

.circle-card {
  width: 48px;
  height: 48px;
}

.skeleton-line {
  margin-left: 15px;
  width: 100%;
}
